#code{

  .alert.alert-danger{
    color:$white;
    text-align: center;
    padding:5px;
    background:$red;
  }

  .btn{
    margin-right: 5px;
    margin-bottom: 10px;
    &.script-switch{
      margin-right: 0px;
      border-radius:0px;

      &:nth-child(4){
        margin-right: 15px;
        border-radius:0px;
      }
    }
  }

  .right-align{
    text-align: right;
    small{
      margin-right: 15px;
    }
    &.editing{
      font-family: $monospace;
      .react-toggle{
        margin-top: 10px;
        margin-bottom: -7px;
      }
    }
  }

  /*Dependency editor*/
  .dependencies{
    input{
      width:400px;
      display:inline-block;
      margin:5px 0 0;
      padding-right:25px;
    }
    .fa-times {
      cursor: pointer;
      color: $lightgrey;
      display: inline-block;
      margin-left: 10px;
      font-size: 22px;
      vertical-align: -3px;
      &:hover{
        color:$red;
      }
    }
    .fa-check{
      display:inline-block;
      color: $green;
      margin-left: -20px;
      margin-right: 10px;
    }
    .fa-exclamation{
      display:inline-block;
      color: $orange;
      margin-left: -15px;
      margin-right: 14px;
    }
    .add-btn{
      color:$lightgrey;
      cursor:pointer;
      border:1px solid transparent;
      display:inline-block;
      padding:5px;
      border-radius:2px;
      font-size: 12px;
      margin-left:10px;
      vertical-align: 2px;
      &:hover{
        color:$grey;
        border:1px solid $lightgrey;
      }
    }
    .sync-btn{
      display:block;
      margin-top: 10px;
    }
  }


}

.ReactModalPortal{

  h4{
    .display{
      font-family: 'kraftwerk';
      font-size: 22px;
      color:$grey;
    }
  }

  .left{
    float:left;
    display:block;
    padding:10px 0;

    .btn:nth-child(1){
      margin-right: 15px;
    }
  }

  i.fa-times{
    font-size: 22px;
    color:$grey;
    position:absolute;
    top:12px;
    right:15px;
    cursor:pointer;
    &:hover{
      color:$red;
    }
  }

  .right-align{
    text-align: right;
    float: right;
    small{
      margin-right: 15px;
    }
    &.editing{
      font-family: $monospace;
      .react-toggle{
        margin-top: 10px;
        margin-bottom: -7px;
      }
    }
  }

  .apiExplorer{
    display:inline-block;

    h5{
      display: inline-block;
      margin-left: 25px;
      font: 26px/30px 'Russo One';
      color: $grey;
      vertical-align: -3px;
    }

    .typeahead{
      width: 400px;
      display: inline-block;
      margin: 10px 0 0 10px;
      input{
        font-size: 18px;
        line-height: 30px;
        width:100%;
        border: 1px solid $lightgrey;
        font-family: monospace;
        letter-spacing:-1px;
        padding-right: 35px;
      }
      .typeahead-selector{
        width:400px;
        position:absolute;
        list-style-type: none;
        padding-left: 10px;
        max-height: 80px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 1px solid $lightgrey;
        background-color: $white;
        z-index: 2;
        li{
          a.typeahead-option{
            color:$grey;
            font-family: monospace;
          }
        }
      }
    }
    i.fa-check{
      margin-left: -28px;
      margin-right: 10px;
      font-size: 20px;
      color:$green;
    }
    .copy-btn{
      margin-top: -4px;
      font-size: 14px;
      border: 1px solid $lightgrey;
    }

    .current-value {
      margin-left: 82px;
      color: $grey;
      margin-top: -7px;
      position: absolute;
      z-index: 0;
      font-size: 13px;
      font-style: italic;
    }

  }



}
