<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#data" data-target="#data" aria-controls="data" role="tab" data-toggle="tab">Data</a></li>
    <li role="presentation"><a href="#config-axis" data-target="#config-axis" aria-controls="config-axis" role="tab" data-toggle="tab">Axes</a></li>
    <li role="presentation"><a href="#config-misc" data-target="#config-misc" aria-controls="config-misc" role="tab" data-toggle="tab">Layout</a></li>
    <li id="alpacaTab" role="presentation" style="display:none;"><a href="#config-alpaca" data-target="#config-alpaca" aria-controls="config-alpaca" role="tab" data-toggle="tab">Misc</a></li>
    <li role="presentation"><a href="#config-txt" data-target="#config-txt" aria-controls="config-txt" role="tab" data-toggle="tab">Text<span class="red">*</span></a></li>
    <li role="presentation"><a href="#config-js" data-target="#config-js" aria-controls="config-js" role="tab" data-toggle="tab">JS</a></li>
    <li role="presentation"><a href="#config-css" data-target="#config-css" aria-controls="config-css" role="tab" data-toggle="tab">CSS</a></li>
    <li role="presentation"><a href="#publish" data-target="#publish" aria-controls="publish" role="tab" data-toggle="tab">Publish</a></li>
    <li role="presentation"><a href="#help" data-target="#help" aria-controls="help" role="tab" data-toggle="tab"><i style="font-size:18px;" class="fa fa-question-circle"></i></a></li>
</ul>
