#annotations{
  .form-control{
    width:90%;
    display:inline-block;
  }
  .fa-times{
    cursor:pointer;
    color:$lightgrey;
    display: inline-block;
    margin-left: 10px;
    font-size: 22px;
    vertical-align: -3px;
    &:hover{
      color:$red;
    }
  }

  .annotations{
    margin-top: 20px;

    .annotation-editor{
      margin-top:10px;

      .size-switch{
        display:inline-block;
        margin-right: 2px;
        padding-top: 2px;
        margin-bottom: 0px;
        float:left;
        img{
          height:26px;
          margin-top: 2px;
        }
      }

      input{
        width:calc(90% - 65px);
      }

    }

    .annotation-formats{
      margin-top: 2px;
      margin-left: 65px;
      display:none;

      .btn-group{
        margin-right: 5px;
      }
      .btn.btn-sm{
        padding:2px 7px;
        box-shadow: none;
      }



      span{
        color:$lightgrey;
        vertical-align: -1px;
        margin-left: 10px;
      }
    }



  }

}
