{% extends "base.html" %}

{%block custom_head%}
<link rel="icon" href="img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/css/vendor.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/css/app.css" media="screen" title="no title" charset="utf-8">
{%endblock%}

{%block custom_js%}
<script type="text/javascript">
  window.chartwerkConfig = {
    user: '',
    static_prefix: '',
    chart_api: 'http://localhost:25252/api/charts/',
    chart_id: '',
    template_api: 'http://localhost:25252/api/templates/',
    template_id: 'line-chart',
    template_tags_api: 'http://localhost:25252/api/template-property/',
    oembed: 'http://some-site.com/api/oembed/',
    embed_src: 'http://some-site.com/js/embed.js',
  };
</script>
<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/app.bundle.js"></script>
{%endblock%}

{%block content%}

<div class="header">
    <h1>
        <a href="">Chartwerk</a>
        <span class="header-nav">
            <a href="">Start</a>
            <a href="">Browse</a>
            <a href="">MyWerk</a>
        </span>
    </h1>
</div>

<div id="chartwerk-app" class="clearfix"></div>

{%endblock%}

{%block modals%}

<div id="loading-modal">
    <div class="loading-overlay"></div>
    <div class="loading-text"><span>Loading</span><img src="img/loader.gif"></div>
</div>

{% include "partials/modals/data-preview.html" %}
{%endblock%}
