#publish{

  h4{
    margin-top:20px;
  }

  input{
    font-size: 26px;
    line-height: 36px;
    border: 0;
    border-bottom: 1px dotted $grey;
    background: none;
    box-shadow: none;
    outline: none;
    color: $grey;
    padding: 5px 5px 0px;
    height: auto;
    margin-bottom: 30px;
  }

  #chart-save-alerts{
    padding:5px 0;
    width:100%;
  }

  .react-toggle svg{
    display:block;
  }

  .section-option{
    margin-top: 5px;
    font-weight: normal;
    font-size: 14px;
    border: 0;
    &.right{
      text-align: right;
    }
  }

  .fifty-fifty{
    width:50%;
    display:inline-block;
    text-align:center;
    float:left;
  }

  #embed-opts{
    margin-top:50px;
    button {
      width: 50%;
      border-radius: 0px;
      display: inline-block;
    }
    .embed-code-copy {
      background: $shadowgrey;
      border: 1px solid $lightgrey;
      color: grey;
      width: calc(100% - 80px);
      margin-top: 10px;
      float: left;
      display: inline-block;
      font-size: 18px;
      height: 40px;
      padding: 0 10px;
    }
    .embed-copy-btn{
      width: 80px;
      margin-top: 10px;
      height: 40px;
      transition: all .2s;
      outline:none;
      &.success{
        color: $green;
        border: 1px solid $green;
      }
    }
  }
}

.btn-huge{
  font-size: 26px;
  margin: 20px auto 30px;
  display: block;
  transition:color .2s;

  &:hover{
    color:$green;
    &:disabled {
      color: $grey;
    }
  }

  &:focus{
    outline: none;
  }

}


.template-tag-option{
  display: inline-block;
  border: 1px solid $lightgrey;
  color: $lightgrey;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 2px;
  transition: all .2s;
  margin-right: 2px;
  &:hover{
    border:1px solid $green;
    color:green;
  }
  &.active{
    border:1px solid $green;
    color:$green;
    &:hover{
      border:1px solid $red;
      color:$red;
    }
  }
}

.section.section-option.borderless{
  border-bottom:0px;
}

#template-datamap-options{
  margin-bottom: 40px;
  div.data-class-options{
    margin:5px 0;
    div{
      display: inline-block;
    }
  }
  .template-datamap-header{
    margin-bottom: -5px;
    div{
      padding:0 10px;
      font-weight: bold;
      small{
        margin-bottom: 0;
        font-weight: bold;
      }
    }
  }
  #template-datamap-default{
    width:350px;
    display:inline-block;
    float:left;
  }
  #template-datamap-custom{
    width:350px;
    display:inline-block;
    float:left;
    margin-left: 20px;

    // .click-opts{
    //   width:130px;
    //   line-height: 45px;
    // }
    .btn-sm{
      margin-top: 10px;
    }
    .btn-sync{
      margin-left: 10px;
    }
    .alert-danger{
      margin-bottom: 0px;
      padding:7px 10px;
      margin-top: 15px;
    }
  }
  .data-class{
    display: inline-block;
    width:100px;
  }
  .alias{
    display: inline-block;
    width:150px;
  }
  .remove{
    display: inline-block;
    width:50px;
  }
  input{
    display: inline-block;
    margin: 0 5px;
    border:0;
    box-shadow: none;
    border-bottom: 2px solid $lightgrey;
    &[readonly]{
      background-color: #fff;
      color:$disabledgrey;
    }
    &:active, &:focus{
      border-bottom: 2px solid $blue;
    }
  }
  .click-opts{
    display:inline-block;
    width:50px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
    height: 40px;
    vertical-align: bottom;
    line-height: 54px;
    .fa{
        cursor:pointer;
        opacity:.6;
        &.fa-check{
          color:$green;
        }
        &.fa-times{
          position:inherit;
          color:$red;
        }
        &.notempty{
          pointer-events: none;
          color:$lightgrey;
          opacity:1;
        }
        &:hover{
          opacity:1;
        }
    }
  }
}
