#axes{

  .basename{
    background-color: $grey;
    color: $white;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 16px;
  }

  hr{
    background-color: $white;
    border-top: 3px dashed $lightgrey;
  }


}
