#axes{
  height:100%;

  .basename{
    background-color: $grey;
    color: $white;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 16px;
  }

  hr{
    background-color: $white;
    border-top: 3px dashed $lightgrey;
  }

  .date-format{

    .form-group{
      float:left;
      &.clearleft{
        clear:left;
      }

      label{
        font-weight: bold;
      }

      .Select{
        width:150px;
        margin-right: 5px;
        border-radius:1px;
      }
      input{
        width:60px;
        margin:23px 5px 0 0;
        height: 37px;

      }

      &.disabled{
        input, .Select-placeholder,
        .Select, .Select-control,
        .Select-value, .Select-value-label{
          background-color: $lightgrey;
          color:#aaa;
        }
        label{
          color:$lightgrey;
        }
      }


    }


  }



}
