#data-preview-modal .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;

    table{
        width:100%;
        th{
            border-bottom: 3px solid $grey;
        }
        td{
            border-left:1px solid $lightgrey;
            padding:2px 5px;
        }
        tr:nth-child(even){
            background:$shadowgrey;
        }
    }
}
