<div role="tabpanel" class="tab-pane active" id="data">

    <h4>
        Paste <b>clean</b> data
        <span class="glyphicon glyphicon-info-sign helper" data-toggle="modal" >
        </span>
    </h4>

    <label class="control-label subtext"><b>Remember:</b> No commas, currency symbols, percent signs or other textual notations on numbers.</label>

    <div id="data-input"></div>


<!--

    <div class="data-feedback">
        <div style="display:none;" class="alert alert-danger" role="alert">That doesn't look like structured data. Try again?</div>
        <div style="display:none;" class="alert alert-success" role="alert">Parsed your data successfully!<button type="button"  class="btn btn-primary data-preview-btn" data-toggle="modal" data-target=".data-preview-modal" aria-hidden="true">Preview</button></div>
    </div>

    <div style="display:none;" id="classify-cont">
        <h4>Classify and color columns in your data
            <span class="glyphicon glyphicon-info-sign helper" data-toggle="modal" data-target=".help-modal" aria-hidden="true">
            </span>
        </h4>
        <table id="column-classify-options"></table>
    </div>

    <div style="display:none;" id="colorGroup-cont">
        <h4>Select Group Colors</h4>
        <div id="colorGroups">
        </div>
    </div>

-->

</div>
