#data{

    .colorpicker{
        width:240px;
        position:relative;
    }

    #group-selects .colorpicker{
        width:55px;
    }

    .color-square{
        margin-left:5px;
        float:left;
        border-radius:4px;
        width:38px;
        height:38px;
        display: inline-block;
        background-color: red;
        cursor:pointer;
        box-shadow: $boxshadowlight;
    }

    .colorpicker-panel{
        position: absolute;
        display:inline;
        box-shadow: $boxshadow;
        width: 177px;
        background-color: white;
        border: 1px solid $lightgrey;
        z-index: 999;
        left:100%;
        top:-10px;
        padding:3px;

        .color-square{
            margin:2px;
            border-radius: 2px;
            &:hover{
                border:2px solid $grey;
            }
        }
    }

}
