#data{
    .colorscheme-container{
        margin-top: 30px;
        margin-bottom: 40px;

        label{
          font-size: 16px;
          font-weight: bold;
          i.fa-check-square-o,
          i.fa-square-o{
            margin-left: 10px;
            margin-top: -1px;
          }
        }


        .schemekey-square{
            display:inline-block;
            height:20px;
            width:7px;
            margin-right: 1px;
            border:1px solid rgba(0,0,0,.2);

        }

        table{
            width:325px;
            margin-top: 20px;

            th{
                text-align: left;
                color: $grey;
                padding: 1px 5px;

            }

            td{
                vertical-align: top;

                .radio label{
                    padding-left: 0px;
                }
                label{
                    font-weight: normal;

                    input[type="radio"] ~ i.fa{
                        margin-right: 2px;
                        font-size: 20px;
                        width:20px;
                        vertical-align: 3px;
                        display:inline-block;
                    }
                    input[type="radio"] ~ i.fa.fa-circle-thin{
                        color: $lightgrey;
                        display: inline-block;
                    }
                    input[type="radio"] ~ i.fa.fa-check{
                        display: none;
                    }
                    input[type="radio"]:checked ~ i.fa.fa-circle-thin{
                        display: none;
                    }
                    input[type="radio"]:checked ~ i.fa.fa-check{
                        color: $grey;
                        display: inline-block;
                    }
                    &:hover input[type="radio"] ~ i.fa {
                        color: $grey;
                    }
                    input[type=radio]{
                        display:none;
                    }
                }
            }
        }

        .quantize-select{
          margin-top: 25px;
          label{
            font-size: 16px;
            font-weight:bold;
          }

        }

    }
}
