.btn{

    background-color: white;
    border:1px solid $lightgrey;
    color: $grey;
    border-radius: 0px;

    transition:all .2s;
    &:hover{
        background-color: $lightgrey;
    }

    .btn-small{

    }

}
