$red: #C91507;
$blue: #008CED;
$darkblue: #0066ED;
$yellow: #FCF181;
$black: #2d3035;
$white: #FFFFFF;
$lightgrey: lightgrey;
$midgrey: #BBBBBB;
$grey: #666;
$disabledgrey: #aaa;
$shadowgrey: rgba(0,0,0,.1);
