#editor-pane{
	float: left;
	height:100%;
	overflow: scroll;
	padding:5px 0px;
	width: calc(100% - 650px);
	&::-webkit-scrollbar {
    display: none;
	}

	h4{
		font-weight: bold;
	}

		.tab-content{
			padding:10px 20px 60px;
			border-left: 1px solid #ddd;
		}
    .tab-content>.active {
			padding:0 20px;
    	display: block;
    	visibility: visible;
    	overflow-y: scroll;
        &::-webkit-scrollbar{
                display: none;
        }
    }

    .tab-pane{
    	padding:10px 5px;
    	overflow-y:scroll;


		.format-confirm{
			font-size:12px;
			font-style: italic;
			text-align: right;
			color:$grey;
		}



    }

}
