
body{
	font-family: arial, sans-serif;
	margin-bottom: 50px;
}

p{
	font-size: 16px;
}

.modal-backdrop{
	z-index:-1;
}

.tab-content{
	height:100%;
	.tab-pane{
		height:100%;
		min-height: 750px;
	}
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

table{
	margin-left: 25px;
}

.alert-fail{
	background-color: $yellow;
	color:$grey;
	box-shadow: $boxshadow;
	border-radius:0px;
}

.guidepost{
	text-align: right;
	i{
		margin-left:5px;
		font-size: 20px;
	}
}

span.column-label{
	background-color:$grey;
	border-radius:2px;
	padding: 1px 4px;
	color:$white;
}
