$body-font: 18px/27px 'Merriweather', Georgia, serif;
$boxshadow: 0 2px 6px rgba(0,0,0,0.14), 1px 3px 6px rgba(0,0,0,0.23);
$boxshadowlight: 0 2px 4px rgba(0,0,0,0.14), 1px 3px 4px rgba(0,0,0,0.18);
$monospace: 'Droid Sans Mono';
$sans:'Open Sans', arial, sans-serif;




$annotation-legend-background:rgba(255,255,255,.5);
$chart-legend-label-font: 10px 'Open Sans', arial, sans-serif;
$chart-legend-title-font: 12px bold 'Open Sans', arial, sans-serif;
